{% extends 'base.html' %}

{% block title %}
Expenses
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Categories</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for instance in category_instances.all %}
            <tr>
                <td>{{ instance.name }}</td>
                <td>{{ instance.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}
