{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/receipts.css' %}">
</head>


<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <li><a href="{% url 'home' %}">Home Page</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
            <li><a href="{% url 'categories' %}">My Categories</a></li>
            <li><a href="{% url 'accounts' %}">My Accounts</a></li>
            <li><a href="{% url 'create_category' %}">Create a category</a></li>
            <li><a href="{% url 'create_account' %}">Create an account</a></li>
            {% else %}
            <p>
                <a href="{% url 'login' %}">Login</a>
            </p>
            {% endif %}
        </nav>
    </header>
    {% block content %}

    {% endblock content %}
</body>

</html>
