{% extends 'base.html' %}

{% block title %}
Log In! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
        <p>
            <button onclick="window.location.href='{% url 'signup' %}'">Signup</button>
        </p>
    </div>
</main>
{% endblock content %}
