{% extends 'base.html' %}

{% block title %}
Expenses
{% endblock title %}

{% block content %}

<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>
                <a href="{% url 'categories' %}">Category</a>
            </th>
            <th>
                <a href="{% url 'accounts' %}">Account</a>
            </th>
        </tr>
        {% for instance in receipts_instances.all %}
        <tr>
            <td>{{ instance.vendor }}</td>
            <td>{{ instance.total }}</td>
            <td>{{ instance.tax }}</td>
            <td>{{ instance.date|date:"m/d/y" }}</td>
            <td>{{ instance.category }}</td>
            <td>{{ instance.account }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
